*,*:before,*:after {
  box-sizing: border-box;
}

body{
  background-color: black;
}
:root {
  --color-font: #000000;

  --bgcolor-header: goldenrod;
  --footer-bgcolor: charcoal;
}

.grid-container-whole-body {
  display: grid;
  position: relative;
  margin: 0px 20px;
  padding: 0px 0px;
  height: 100%
  width: 100vw;
  gap: 0;
  align-content: center;
  justify-content: center;
}

.logo {
  display: absolute;
  top: 30px;
  padding: 30px;
}

header {
  background-color: var(--bgcolor-header);
  color: var(--color-font);
  width: 100%;
  height: 100px;
  /*position: absolute; */
  max-width: 700px;
  left: 630px;
  top: -10px;
  position: fixed;
  z-index: 4;
}

.heading-main {
  color: var(--color-font) ;
  font-size: 80px;
  font-family: "Audiowide", impact, sans-serif;
  text-shadow: -5px -5px 10px goldenrod, 5px 5px 10px goldenrod;
  position: absolute;
  top: 50px;
  left: 602px;
  background-image: url("https://i.imgur.com/eLVL8qX.jpg");
  width: 700px;
  text-align: center;
  height: 300px;
  padding: 70px 150px 100px 30px;
  margin-top: 30px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 20px 20px 100px goldenrod, -20px -20px 100px goldenrod;
  
}

.button {
  text-decoration: none;
  width: 7em;
  height: 3em;
  border: 10px double var(--color-font);
  border-radius: 0.25em;
  color: var(--color-font);
  position: absolute;
  left: 582px;
  top: 10px;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
  
}

.flex-container-header {
  display: flex;
  aling-items: center;
  flex-direction: row;
  justify-conent: space-between;
  
}

sup {
  font-size: 25px;
  position: absolute;
}

.head-line {
  font-family: "Trirong", sans-serif;
  height: 200px;
  width: 400px;
  font-size: 24px;
  position: absolute;
  top: 500px;
  text-align: center;
  color: grey;

  
}


footer {
  position: absolute;
  height: 200px;
  width: 39%;
  background-color: #000000;
  top: 800px;
  max-width: 55em;
  left: 600px;
}

.fa {
  margin: 30px;
  padding: 30px;
  height: 50px;
  text-decoration: none;
  width: 50px;
  font-size: 50px;
  color: grey;
  margin-left: 80px
}

.fa:active {
  color: grey;
  
}

.fa:visited {
  color: grey;

}

footer >p {
  color: grey;
    text-align: center;
}

@media screen and (max-width: 600px) {
  
}

.new {
  border-color: grey;
  color: grey;
}

.sign-in{
  position: absolute;
  top: 700px;
  left: 1000px;
  color: grey;
  margin-top: 40px;
}

.btn-sign-in {
  border: 2px solid grey;
  height: 5rem;
  width: 3rem;
  margin-left: 30px;
  color: grey;
  
}

@media only screen and (max-width: 600px)
{
  .grid-container-whole-body {
    width: 600px;
    overflow: hidden;
    dipslay: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
    
    
  }
  
  header {
    position: absolute;
    top: -15px;
    left: -100px;
    width: 600px;
  }
  .button {
    position: absolute;
    left: 450px;
  }
  .logo {
    position: absolute;
    left: 100px;
    top: 10px;
  }
}
